<%= t 'interested_person.create.introduction' %>

<%= form_for(@interested_person ||= InterestedPerson.new) do |f| %>
  <% if @interested_person.errors.present? %>
    <div class='formErrors'>
      <%= @interested_person.errors.full_messages %>
    </div> 
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <%= f.submit 'Sign up' %>
<% end %>
